.iti__flag {background-image: url("../node_modules/intl-tel-input/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../node_modules/intl-tel-input/build/img/flags@2x.png");}
}

.iti{
  width: 100%;
  color: #000;
  z-index: 9999;
}
.iti__arrow { border: none; }
body{
    background: linear-gradient(45deg, var(--cyan), var(--blue));
}
